.header{
    background-color: #89745E;
    padding: 10px 0;
    color: white;
}

h1 {
    font-size: 50px;
}

.inf{
    letter-spacing: 5px;
}

h4{
    font-family: 'Raleway', sans-serif;
}

.wrapper{
    width: 1000px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: courier;
    color: #203239;
}

.menu{
    float: center;
    align:center;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background : #fffff0;
    z-index: 1;
    border-bottom: 1px solid #203239;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h3{
    color: #89745E;
    border: 5px solid #89745E;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

img{
    border: 5px solid #89745E;
    width:250px; 
    height:250px;
}

.tablebio{
    font-family: 'Raleway', sans-serif;
}

.tabeljadwal{
    width: 60%;
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
}

.tabeljadwal tr th{
    background-color: #89745E;
}

.senin{
    background-color: rgba(137, 116, 94, 0.3);
}

.rabu {
    background-color: rgba(137, 116, 94, 0.3);
}

.aktivitas{
    background-color: #89745E;
}

.tabel1{
    line-height: 40px;
    background-color: rgba(137, 116, 94, 0.3);
    padding: 16px 0px 16px 0px;
}

.tabel2{
    line-height: 40px;
    background-color: rgba(137, 116, 94, 0.3);
}

.tabel3{
    line-height: 40px;
    background-color: rgba(137, 116, 94, 0.3);
}